.hidden {
    display: none;
}

/*------------------------------------------------ Game Play*/


/* Using specificity to override Bootstrap styling*/
.btn.correct {
    background-color: green;
}

.btn.incorrect {
    background-color: red;
}

/*------------------------------------------------ Loader*/

#loader, #error {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

#loader-text {
    text-align: center;
    padding-top: 50px;
}

img.apple {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0%, 100% {
		transform: translatey(0px);
    }
	50% {
		transform: translatey(-40px);
    }

}

#loader-text {
    text-align: center;
    padding-top: 30px;
}

/*------------------------------------------------ Loader*/
