@font-face {
    font-family: chawp;
    src: url("../css/fonts/CHAWP.woff2") format("woff2"),
        url("../css/fonts/CHAWP.woff") format("woff"),
            url("../css/fonts/CHAWP.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "chawp", sans-serif;
    background-image: url("../assets/images/game-background.webp");
    color: white;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

/*------------------------------------------------ Home Page*/

.welcome-page {
    text-align: center;
    background-image: url("../assets/images/greenboard.png");
    background-size: 100% 100%;
    height: 80vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.inner-info {
    margin-top: 100px;
    
}

h1 {
    padding-top: 11vh;
    padding-bottom: .8rem;
}

a.navigation-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;

}

.inner-info {
    margin-top: 100px;
    
}






/*------------------------------------------------ Game Play*/


/* Using specificity to override Bootstrap styling*/
.btn.correct {
    background-color: green;
}

.btn.incorrect {
    background-color: red;
}

/*------------------------------------------------ Loader*/

#loader, #error {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

#loader-text {
    text-align: center;
    padding-top: 50px;
}

img.apple {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0%, 100% {
		transform: translatey(0px);
    }
	50% {
		transform: translatey(-40px);
    }

}

#loader-text {
    text-align: center;
    padding-top: 30px;
}

/*------------------------------------------------ Loader*/
