/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: chawp;
    src: url("../css/fonts/CHAWP.woff2") format("woff2"),
        url("../css/fonts/CHAWP.woff") format("woff"),
        url("../css/fonts/CHAWP.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "chawp", sans-serif;
    background-color: rgb(241, 241, 64);
    background-image: url("../images/game-background.webp");
    color: #fff;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

/*GENERAL BUTTONS*/

a.navigation-btn, .ans-choice, .submit-btn {
    text-align: center;
    color: rgb(98, 235, 98);
    border: 3px solid rgb(98, 235, 98);
    font-size: 2rem;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

a.navigation-btn, .ans-choice {
    min-width: 70%;
}

.ans-choice:focus, a.navigation-btn:focus, .submit-btn:focus {
    color: rgb(98, 235, 98);
}

.btn:hover {
    color: rgb(98, 235, 98);
}

/*Hover effect only present on desktop, not mobile*/
@media (pointer: fine) {
    a.navigation-btn:hover, .ans-choice:hover,  .submit-btn:hover, #game-to-home:hover {
        color: #fff;
        background-color: rgb(98, 235, 98);
        border: 3px solid #fff;
    }
}

/*HOME PAGE*/

.green-board {
    background-image: -o-linear-gradient(300deg, rgb(116, 165, 44), rgb(64, 100, 43));
    background-image: linear-gradient(150deg, rgb(116, 165, 44), rgb(64, 100, 43));
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10vh;
    padding-bottom: 30px;
    border: 12px solid rgb(92, 58, 8);
    border-radius: 10px;
    -webkit-box-shadow: inset 10px 10px 12px rgba(0, 0, 0, 0.6);
            box-shadow: inset 10px 10px 12px rgba(0, 0, 0, 0.6);
    background-image: linear-gradient(150deg, rgb(116, 165, 44), rgb(64, 100, 43));
}

.inner-info {
    margin-top: 10px;
    margin-bottom: 20px;    
}

h1 {
    text-align: center;
    font-size: 5rem;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}

h2#tag-line {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
}

/*RULES*/

#rules-heading {
    padding-bottom: 1.5rem;
}

ul {
    padding-bottom: 3vh;
    width: 50vw;
    margin: auto;
}

@media only screen and (max-width: 768px) {
  ul {
      width: 75vw;
      margin: auto;
  }
}

li {
    text-align: left;
    font-size: 1.3rem;
    margin: 15px 0 15px 0;
}



/*GAME PAGE*/

.hud {
    margin-top: 2.5vh;
    margin-bottom: 3vh;
}

#question {
    font-size: 2.2rem;
}

.ans-btns {
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.btn.correct {
    background-color: #008000;
    color: #fff;
}

.ans-choice {
    min-width: 85%;
}

.btn.incorrect {
    background-color: #ff0000;
    color: #fff;
}

#game-to-home {
    font-size: 1.2rem;
    color: rgb(77, 187, 77);
    border: 3px solid rgb(77, 187, 77);
}

#audio-btn {
    background-color: rgb(98, 235, 98);
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    font-size: 1.7rem;
    height: 50px;
    width: 50px;
    padding: 0;
    margin-bottom: 15px;
    -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    -webkit-appearance: none;
}

#audio-btn:focus {
    outline: none;
}
  
/*LOADER*/

#loader, #error {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

#loader-text {
    text-align: center;
    padding-top: 50px;
}

img.apple {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-animation: float 3s ease-in-out infinite;
            animation: float 3s ease-in-out infinite;
}

@-webkit-keyframes float {
	0%, 100% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
    }
	50% {
		-webkit-transform: translatey(-40px);
		        transform: translatey(-40px);
    }
}

@keyframes float {
	0%, 100% {
		-webkit-transform: translatey(0px);
		        transform: translatey(0px);
    }
	50% {
		-webkit-transform: translatey(-40px);
		        transform: translatey(-40px);
    }
}

#loader-text {
    text-align: center;
    padding-top: 30px;
}

/*END GAME*/

#end-heading {
    padding-bottom: 1.5rem;
    font-size: 4.5rem;
}

#end-score {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

#name-inst {
    margin: 0;
}

form {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

input {
    font-size: 1.2rem;
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

input, .submit-btn {
  padding: 0;
  margin: 0 .3rem 0 .3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

::placeholder {
    color: #fff;
}

.submit-btn {
    font-size: 1.2rem;
}

/*HIGH SCORES*/

#scores-header {
    font-size: 4.5rem;
    padding-bottom: 2rem;
}

.table {
    color: #fff;
    font-size: 1.4rem;
    margin: 0 auto;
    max-width: 40vw;
    margin-bottom: 3rem;
}

/*404 ERROR PAGE*/

#error-text {
    padding-top: 50px;
    margin-bottom: 50px;
}

#error-nav {
    margin-top: 20px;
}